
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
